<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.qust.market.mapper.CategoryMapper" >
  <resultMap id="BaseResultMap" type="edu.qust.market.bean.Category" >
    <id column="CATE_ID" property="cateId" jdbcType="BIGINT" />
    <result column="PARENT_ID" property="parentId" jdbcType="BIGINT" />
    <result column="CATE_NAME" property="cateName" jdbcType="VARCHAR" />
    <result column="ORDER_NUM" property="orderNum" jdbcType="BIGINT" />
    <result column="CREATE_TIME" property="createTime" jdbcType="BIGINT" />
    <result column="MODIFY_TIME" property="modifyTime" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    CATE_ID, PARENT_ID, CATE_NAME, ORDER_NUM, CREATE_TIME, MODIFY_TIME
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="edu.qust.market.bean.CategoryExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_category
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart >= 0" >
      limit ${limitStart} , ${pageSize}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from tb_category
    where CATE_ID = #{cateId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from tb_category
    where CATE_ID = #{cateId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="edu.qust.market.bean.CategoryExample" >
    delete from tb_category
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="edu.qust.market.bean.Category" useGeneratedKeys="true" keyProperty="id" >
    insert into tb_category (CATE_ID, PARENT_ID, CATE_NAME, 
      ORDER_NUM, CREATE_TIME, MODIFY_TIME
      )
    values (#{cateId,jdbcType=BIGINT}, #{parentId,jdbcType=BIGINT}, #{cateName,jdbcType=VARCHAR}, 
      #{orderNum,jdbcType=BIGINT}, #{createTime,jdbcType=BIGINT}, #{modifyTime,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="edu.qust.market.bean.Category" useGeneratedKeys="true" keyProperty="id" >
    insert into tb_category
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cateId != null" >
        CATE_ID,
      </if>
      <if test="parentId != null" >
        PARENT_ID,
      </if>
      <if test="cateName != null" >
        CATE_NAME,
      </if>
      <if test="orderNum != null" >
        ORDER_NUM,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cateId != null" >
        #{cateId,jdbcType=BIGINT},
      </if>
      <if test="parentId != null" >
        #{parentId,jdbcType=BIGINT},
      </if>
      <if test="cateName != null" >
        #{cateName,jdbcType=VARCHAR},
      </if>
      <if test="orderNum != null" >
        #{orderNum,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=BIGINT},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="edu.qust.market.bean.CategoryExample" resultType="java.lang.Integer" >
    select count(*) from tb_category
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_category
    <set >
      <if test="record.cateId != null" >
        CATE_ID = #{record.cateId,jdbcType=BIGINT},
      </if>
      <if test="record.parentId != null" >
        PARENT_ID = #{record.parentId,jdbcType=BIGINT},
      </if>
      <if test="record.cateName != null" >
        CATE_NAME = #{record.cateName,jdbcType=VARCHAR},
      </if>
      <if test="record.orderNum != null" >
        ORDER_NUM = #{record.orderNum,jdbcType=BIGINT},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=BIGINT},
      </if>
      <if test="record.modifyTime != null" >
        MODIFY_TIME = #{record.modifyTime,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_category
    set CATE_ID = #{record.cateId,jdbcType=BIGINT},
      PARENT_ID = #{record.parentId,jdbcType=BIGINT},
      CATE_NAME = #{record.cateName,jdbcType=VARCHAR},
      ORDER_NUM = #{record.orderNum,jdbcType=BIGINT},
      CREATE_TIME = #{record.createTime,jdbcType=BIGINT},
      MODIFY_TIME = #{record.modifyTime,jdbcType=BIGINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="edu.qust.market.bean.Category" >
    update tb_category
    <set >
      <if test="parentId != null" >
        PARENT_ID = #{parentId,jdbcType=BIGINT},
      </if>
      <if test="cateName != null" >
        CATE_NAME = #{cateName,jdbcType=VARCHAR},
      </if>
      <if test="orderNum != null" >
        ORDER_NUM = #{orderNum,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=BIGINT},
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME = #{modifyTime,jdbcType=BIGINT},
      </if>
    </set>
    where CATE_ID = #{cateId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="edu.qust.market.bean.Category" >
    update tb_category
    set PARENT_ID = #{parentId,jdbcType=BIGINT},
      CATE_NAME = #{cateName,jdbcType=VARCHAR},
      ORDER_NUM = #{orderNum,jdbcType=BIGINT},
      CREATE_TIME = #{createTime,jdbcType=BIGINT},
      MODIFY_TIME = #{modifyTime,jdbcType=BIGINT}
    where CATE_ID = #{cateId,jdbcType=BIGINT}
  </update>
</mapper>